
body
		{
			margin-top:35;
	background-image: url("bg1.jpg");
	background-color: #25251d;
	background-position:center;
	background-repeat:no-repeat;
		}
	
	
p
		{
	font-size:24px;
	color:#00FFFF;
	margin-left:125px;
	margin-right;125px;
		}


h1
		{
	font-size:36px;
	text-align:center;
	color:	#F8F8FF;
		}
a
		{
	text-decoration:none;
		}

#menu a
		{
	text-decoration:none;
	color: inherit;
		}

.top_menu
		{
	padding: 1em 0;
	margin-right:35px;
	text-align:right;
		}

.top_menu_text
		{
	display:inline;
	font-size:24px;
	margin-right:25px;
	color:white;
		}
	
#main
		{
	margin-left:75px;
	font-size:26px;
	color:white;
		}
